/* Títulos */
h1,h3{
    font-family: 'Josefin Sans', sans-serif;
  }
  
  h1,h6,p{
   color: #fa7202;
  }
  h3,h5{
   color: #75b3ff;
  }
  
  /* Cores dos botões bootstrap */
  .jumbotron{
      background-color: #c8c8c8;
  }
    
  .btn-outline-warning{
        color: #fa7202;
        border-color: #fa7202;
  }
    
  .btn-warning{
        color: white;
      background-color: #fa7202;
  }
  
  .btn-info{
      color: white;
      background-color: #75b3ff;
  }
  
  .card-footer{
    background-image: linear-gradient(to top, #75b3ff, white);
  }
  
  /* Tags */ 
  label{
        color: #fa7202;
  }
    
  hr{
    border-color: #75b3ff; 
  }

  /* IDs */

  #area_cards{
     padding-top: 2%;
     padding-bottom: 2%;
     width: 80%;
     margin-left: 10%;
     border: 1px solid #75b3ff;
     border-radius: 10px;

  }