.grid-container {
  display: grid;
  grid-template-columns: 1fr 1.5fr 0.5fr 1fr;
  grid-template-rows: 0.3fr 1.7fr 1fr 1fr;
  grid-template-areas: "barra barra barra barra" "logo logo cadastro cadastro" "logo logo cadastro cadastro" "rodape rodape rodape rodape";
}

.barra { grid-area: barra; 
   border-color: red;
}

.cadastro { grid-area: cadastro; }

.rodape { grid-area: rodape; }

.logo { grid-area: logo; }